HTML{
    background: url("img/horizon_zero_dawn-1.jpg")no-repeat center fixed;
    background-size: cover;
}
body{
    text-align:center;
}

#div1{
    background:rgb(255, 255, 255, 0.65);
    padding:10px 100px;
    margin: 25px 50px;
    border-radius:30px ;
}


