HTML{
    background: url("img/horizon_zero_dawn-1.jpg")no-repeat center fixed;
    background-size: cover;
}
body,h1{
    text-align:center;
}
#p1{
    text-align:left;
}
#p2{
    text-align:right;
}
#div1{
    background:rgb(255, 255, 255, 0.65);
    padding:10px 100px;
    margin: 25px 50px;
    border-radius:30px ;
}
#bow{
    width:100px;
    height:90px;
}
#aloy{
    width: 75px;
    height:90px;
}



