HTML{
    background: url("img/Ludwigtime.png")no-repeat center fixed;
    background-size: cover;
}
body{
    text-align:center;
}

#Ludlaugh{
    border-radius: 30px;
}
#div1{
    background:rgb(255, 255, 255, 0.5);
    padding:10px 100px;
    margin: 25px 50px;
    border-radius:30px ;
}

