HTML{
    background: url("img/ludwig-ahgren.jpeg")no-repeat center fixed;
    background-size: cover;
}
body{
    text-align:center;
}
#div2{
    background: rgba(255, 255, 255, 0.5);
    font-size:60px;
    color:black;
    margin:190px 400px;
    border-radius: 30px;
}
a{
    color:white;
}